The goal of this project is to write articles for Topsoe, a Global leader in catalysis and process technology driving optimal performance within chemical processing, hydroprocessing and emissions management.
We will have all pages from the Topsoe.com indexed in the project. Overall sections are Knowledge & Insights, Solutions, News & Media, About, Careers and Investors. Each section has sub sections and the sub section have their own pages/articles
We will also have many resent Topsoe SoMe posts indexed in the project.
We will have an overall folder of personas that all new articles and SoMe posts are to respect.
We will also have folders for competitor homepages and articles and SoMe indexed in the project.
